@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Noto+Serif+Display:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-family: 'Noto Sans TC', sans-serif;
}

a, a:hover, a:active, a:visited {
  color: #000000;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

input, button, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  padding: 10px 20px;
  position: relative;
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .popup_content {
  text-align: center;
  background-color: #fff;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popup .popup_content.popup_img {
  width: 600px;
  height: 600px;
  padding: 50px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_img {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_mov, .popup .popup_content iframe {
  width: 1080px;
  height: 608px;
  outline: 10px solid #fff;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 800px;
    height: 450px;
  }
}

@media (max-width: 1000px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 640px;
    height: 362px;
  }
}

@media (max-width: 660px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 400px;
    height: 226px;
  }
}

@media (max-width: 420px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 320px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 280px;
    height: 157px;
  }
}

.popup .popup_content.popup_code {
  width: 500px;
  height: 500px;
  padding: 20px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_code {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_message {
  width: 320px;
  height: 60px;
  line-height: 60px;
}

.popup .popup_content .close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 6px;
  text-align: center;
}

.popup .popup_content .close i {
  font-size: 32px;
  line-height: 40px;
}

.popup .popup_content .close:hover {
  cursor: pointer;
}

.popup.is_acted {
  opacity: 1;
  visibility: visible;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
}

header .topbar {
  width: 100%;
  height: 84px;
  background-color: #00404b;
}

header .topbar .logo {
  width: 84px;
  padding: 18px;
  margin-left: 12px;
}

header .topbar .logo img {
  width: 100%;
}

header #menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: transparent;
  padding: 18px 24px;
  margin-right: 16px;
  -webkit-transition: all .1s;
  transition: all .1s;
}

header #menu-toggle span {
  display: block;
  width: 34px;
  height: 2px;
  margin: 6px 0;
  background-color: #c9a063;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header #menu-toggle h6 {
  font-size: 12px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header #menu-toggle:hover {
  cursor: pointer;
}

header #menu-toggle.active {
  background-color: #c9a063;
}

header #menu-toggle.active span {
  background-color: #000;
}

header #menu-toggle.active span:nth-child(2) {
  background-color: transparent;
}

header #menu-toggle.active span:nth-child(1) {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  margin-top: 45%;
}

header #menu-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  margin-top: -45%;
}

header #menu-toggle.active h6 {
  opacity: 0;
  visibility: hidden;
}

header #menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

header #menu .menuBox {
  width: 335px;
  height: 100%;
  background-color: #c9a063;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 100px;
  overflow-y: scroll;
}

@media (max-width: 960px) {
  header #menu .menuBox {
    width: 100%;
  }
}

header #menu .menuBox::-webkit-scrollbar {
  display: none;
}

header #menu .menuBox .menu_item {
  text-align: right;
  padding-right: 40px;
  margin-bottom: 32px;
  overflow: hidden;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item {
    text-align: center;
    padding-right: 0;
  }
}

header #menu .menuBox .menu_item .menu_item_title, header #menu .menuBox .menu_item .menu_item_info,
header #menu .menuBox .menu_item .menu_item_title a, header #menu .menuBox .menu_item .menu_item_info a {
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item .menu_item_title, header #menu .menuBox .menu_item .menu_item_info,
  header #menu .menuBox .menu_item .menu_item_title a, header #menu .menuBox .menu_item .menu_item_info a {
    font-size: 24px;
  }
}

header #menu .menuBox .menu_item .menu_item_title span, header #menu .menuBox .menu_item .menu_item_info span,
header #menu .menuBox .menu_item .menu_item_title a span, header #menu .menuBox .menu_item .menu_item_info a span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

header #menu .menuBox .menu_item .menu_item_content {
  font-size: 16px;
  letter-spacing: 2px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item .menu_item_content ul {
    padding-top: 10px;
  }
}

header #menu .menuBox .menu_item .menu_item_content ul li {
  background-color: transparent;
  width: 100%;
  margin: 0 0 5px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item .menu_item_content ul li {
    width: auto;
    display: inline-block;
    margin: 0 5px 5px;
  }
}

header #menu .menuBox .menu_item .menu_item_content ul li a {
  padding: 0;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item .menu_item_content ul li a {
    font-size: 18px;
  }
}

header #menu .menuBox .menu_item .menu_item_social {
  width: 30px;
  float: right;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item .menu_item_social {
    float: unset;
    margin: 0 auto;
  }
}

header #menu .menuBox .menu_item .menu_item_info p, header #menu .menuBox .menu_item .menu_item_info a, header #menu .menuBox .menu_item .menu_item_info span {
  display: inline-block;
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
}

header #menu .menuBox .menu_item .menu_item_info p {
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item .menu_item_info p {
    display: block;
  }
}

header #menu .menuBox .menu_item .menu_item_info span {
  width: 20px;
  text-align: center;
  background: #000;
  color: #fff;
  margin-right: 5px;
  font-size: 23px;
  font-weight: 600;
  line-height: 1;
}

footer {
  position: relative;
}

footer #footerMenu {
  width: 100%;
  background-color: #c9a063;
  padding: 175px 0 100px;
}

@media (max-width: 1280px) {
  footer #footerMenu {
    padding: 80px 0;
  }
}

footer #footerMenu .menuBox {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1480px) {
  footer #footerMenu .menuBox {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  footer #footerMenu .menuBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox {
    display: block;
  }
}

footer #footerMenu .menuBox .menu_item {
  text-align: right;
  padding: 0 40px;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item {
    margin-top: 10px;
  }
}

@media (max-width: 1280px) {
  footer #footerMenu .menuBox .menu_item:last-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_title, footer #footerMenu .menuBox .menu_item .menu_item_info {
  min-width: 84px;
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_title, footer #footerMenu .menuBox .menu_item .menu_item_info {
    text-align: center;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_title span, footer #footerMenu .menuBox .menu_item .menu_item_info span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

footer #footerMenu .menuBox .menu_item .menu_item_title a, footer #footerMenu .menuBox .menu_item .menu_item_info a {
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
}

footer #footerMenu .menuBox .menu_item .menu_item_title a span, footer #footerMenu .menuBox .menu_item .menu_item_info a span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

footer #footerMenu .menuBox .menu_item .menu_item_content {
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_content {
    text-align: center;
    margin: 5px auto 0;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_content ul li {
  background-color: transparent;
  width: 100%;
  margin: 0 0 5px;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_content ul li {
    width: auto;
    display: inline-block;
    margin: 0 5px 5px;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_content ul li a {
  padding: 0;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 1280px) {
  footer #footerMenu .menuBox .menu_item .menu_item_info {
    width: 100%;
  }
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_info {
    margin-top: 20px;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_info p, footer #footerMenu .menuBox .menu_item .menu_item_info a, footer #footerMenu .menuBox .menu_item .menu_item_info span {
  display: inline-block;
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 1280px) {
  footer #footerMenu .menuBox .menu_item .menu_item_info p, footer #footerMenu .menuBox .menu_item .menu_item_info a, footer #footerMenu .menuBox .menu_item .menu_item_info span {
    text-align: center;
  }
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_info p, footer #footerMenu .menuBox .menu_item .menu_item_info a, footer #footerMenu .menuBox .menu_item .menu_item_info span {
    font-size: 16px;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_info p {
  width: 100%;
  margin-bottom: 5px;
}

footer #footerMenu .menuBox .menu_item .menu_item_info .social a {
  width: 30px;
}

footer #footerMenu .menuBox .menu_item .menu_item_info span {
  width: 20px;
  text-align: center;
  background: #000;
  color: #fff;
  margin-right: 5px;
  font-size: 23px;
  font-weight: 600;
  line-height: 1;
}

footer #footerMenu .menuBox .menu_item .menu_item_info .copyright {
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 1280px) {
  footer #footerMenu .menuBox .menu_item .menu_item_info .copyright {
    text-align: center;
    margin-top: 20px;
  }
}

footer #goTop {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 72px;
  right: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

footer #goTop:after {
  content: "";
  width: 60px;
  height: 8px;
  background: #fff;
  position: absolute;
  right: -64px;
  top: 10px;
}

footer #goTop:hover {
  cursor: pointer;
}

.theme .theme_team {
  padding: 3% 0 5%;
}

.theme .theme_team .theme_team_title {
  margin-bottom: 3%;
}

.theme .theme_team .theme_team_member .theme_team_slider {
  padding-bottom: 0%;
}

.theme .theme_teampage {
  background: url(../img/teampage_bg.jpg) center top no-repeat;
  background-size: cover;
  padding: 0 0 5%;
}

.theme .theme_teampage .theme_teampage_title {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
}

.theme .theme_teampage .theme_teampage_title a {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}

.theme .theme_teampage .theme_teampage_title a svg {
  width: 56px;
  height: 46px;
  fill: #000;
  stroke: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 420px) {
  .theme .theme_teampage .theme_teampage_title a svg {
    width: 46px;
    height: 40px;
  }
}

.theme .theme_teampage .theme_teampage_title a span {
  color: #000;
  display: block;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: -5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 420px) {
  .theme .theme_teampage .theme_teampage_title a span {
    font-size: 12px;
  }
}

.theme .theme_teampage .theme_teampage_title:hover a svg, .theme .theme_teampage .theme_teampage_title:hover a span {
  fill: #c9a063;
  stroke: #c9a063;
  color: #c9a063;
}

.theme .theme_teampage .theme_teampage_member {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -60px;
  text-align: left;
  position: relative;
  z-index: 2;
}

@media (max-width: 1420px) {
  .theme .theme_teampage .theme_teampage_member {
    text-align: center;
  }
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_photo {
  display: inline-block;
  vertical-align: middle;
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_photo img {
  width: auto;
}

@media (max-width: 480px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_photo img {
    width: 100%;
  }
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
  letter-spacing: 1px;
}

@media (max-width: 1420px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_text {
    text-align: left;
  }
}

@media (max-width: 960px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_text {
    margin: 5%;
  }
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_position {
  font-size: 36px;
  line-height: 1.2;
  color: #00404b;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

@media (max-width: 1280px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_position {
    font-size: 22px;
  }
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_position span {
  display: block;
  font-size: 24px;
  color: #00404b;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 2px;
}

@media (max-width: 1280px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_position span {
    font-size: 18px;
  }
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_position:after {
  content: "";
  width: 22px;
  height: 1px;
  background: #c9a063;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_story {
  font-size: 22px;
  color: #00404b;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_info {
  margin: 5% 0;
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_case .theme_teampage_member_text_case_title {
  color: #00404b;
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_case ul {
  overflow: hidden;
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_case ul.half {
  width: 49%;
  float: left;
}

@media (max-width: 380px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_text .theme_teampage_member_text_case ul.half {
    width: 100%;
  }
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_case {
  width: 387px;
  float: right;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 60px;
}

@media (max-width: 1420px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_case {
    width: 90%;
    float: unset;
    margin: 3% auto 0;
    text-align: center;
  }
}

@media (max-width: 960px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_case {
    margin: 6% auto 0;
  }
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_case img {
  width: calc((387px - 6%) / 3);
  float: left;
  margin: 0 2% 2% 0;
}

@media (max-width: 1420px) {
  .theme .theme_teampage .theme_teampage_member .theme_teampage_member_case img {
    width: 123px;
    float: unset;
    display: inline-block;
    text-align: center;
  }
}

.theme .theme_teampage .theme_teampage_member .theme_teampage_member_case img:hover {
  cursor: pointer;
}
/*# sourceMappingURL=team.css.map */