@import '_setting';
@import '_header';
@import '_footer';



.theme{

    .theme_image{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.2%;
        background: #000;
        
        iframe, video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .theme_feature{

        .theme_feature_slider{

            .theme_feature_version1{
                position: relative;

                .theme_feature_image{
                    .pc{ display: block;}
                    .mob{ display: none;}
                    @media (max-width:800px){
                        .pc{ display: none;}
                        .mob{ display: block;}
                    }
                }

                .theme_feature_info{
                    width: 30%;
                    height: 0;
                    padding-bottom: 30%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    @media (max-width:800px){
                        width: 64%;
                        height: 0;
                        padding-bottom: 64%;
                    }
                }
            }

            .theme_feature_version2{
                position: relative;
                
                .theme_feature_image{
                    .pc{ display: block;}
                    .mob{ display: none;}
                    @media (max-width:800px){
                        .pc{ display: none;}
                        .mob{ display: block;}
                    }
                }

                .theme_feature_info{
                    background: url(../img/feature_version2_textbg.jpg) right center no-repeat;
                    background-size: 100% auto;
                    width: 40%;
                    height: 0;
                    padding-bottom: 35%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    transform: translateX(50%);
                    @media (max-width:800px){
                        width: 90%;
                        height: 0;
                        padding-bottom: 78%;
                        transform: translateX(24%);;
                    }
                }
            }

            .theme_feature_version3{
                position: relative;
                
                .theme_feature_image{
                    .pc{ display: block;}
                    .mob{ display: none;}
                    @media (max-width:800px){
                        .pc{ display: none;}
                        .mob{ display: block;}
                    }
                }

                .theme_feature_info{
                    width: 40%;
                    height: 0;
                    padding-bottom: 15%;
                    position: absolute;
                    bottom: 5%;
                    left: 5%;
                    @media (max-width:800px){
                        width: 90%;
                        height: 0;
                        padding-bottom: 35%;
                        transform: translateX(0%);;
                    }
                }
            }
        }

    }

    .theme_team{
        background: url(../img/team_bg.jpg) center top no-repeat;
        background-size: cover;
        padding: 3%;
        background-attachment: fixed;
        @media (max-width:1280px){
            padding: 3% 0 5%;
        }

        .theme_team_title{
            text-align: center;
            margin-bottom: 2%;

            h3{
                font-size: 36px;
                color: #00404b;
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-weight: 600;
                letter-spacing: 2px;
                @media (max-width:1280px){
                    font-size: 32px;
                }
            }

            h4{
                font-size: 26px;
                color: rgba(0,64,75,.5);
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 2px;
                @media (max-width:1280px){
                    font-size: 22px;
                }             
            }
        }

        .theme_team_member{
            max-width: 1280px;
            margin: 0 auto;
            // overflow: hidden;
            @media (max-width:1480px){
                width: 95%;
            }
            @media (max-width:960px){
                width: 100%;
                padding-left: 2.5%;
            }

            .theme_team_slider{
                padding-bottom: 5%;
                @media (max-width:1080px){
                    padding-bottom: 20%;
                }
                @media (max-width:480px){
                    padding-bottom: 28%;
                }

                .theme_team_member_item{
                    padding: 0 10px;
    
                    .theme_team_member_image{
                        width: 100%;
                        height: 0;
                        padding-bottom: 180%;
                        overflow: hidden;

                        img{
                            transition: all 1s;
                            transform-origin: center top;
                        }
                    }

                    &:hover{
                        cursor: pointer;
                        img{
                            transform: scale(1.1);
                        }
                    }
    
                    .theme_team_member_text{
                        background-color: #c9a063;
                        padding: 20px;
    
                        .theme_team_member_text_position{
                            font-size: 32px;
                            color: #00404b;
                            line-height: 1.2;
                            letter-spacing: 2px;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            font-weight: 600;
                            @media (max-width:800px){
                                font-size: 26px;
                            }
    
                            span{
                                display: block;
                                font-size: 24px;
                                color: #00404b;
                                letter-spacing: 2px;
                                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                                @media (max-width:1280px){
                                    font-size: 22px;
                                }  
                                @media (max-width:800px){
                                    font-size: 18px;
                                }           
                            }
                        }
    
                        .theme_team_member_text_story{
                            font-size: 18px;
                            color: #fff;
                            position: relative;
                            letter-spacing: 1px;
                            padding: 10px 0;
                            margin-top: 10px;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             
    
                            &::before{
                                content: "";
                                width: 26px;
                                height: 1px;
                                background-color: #fff;
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
    
                            }
                        }
                    }
                }
            }
        }
    }

    .theme_portfolio{
        background: url(../img/portfolio_bg.jpg) center top no-repeat;
        background-size: cover;
        padding: 5% 0 3%;
        overflow: hidden;

        .theme_portfolio_title{
            text-align: center;
            margin-bottom: 3%;

            h3{
                font-size: 36px;
                color: #fff;
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-weight: 600;
                letter-spacing: 2px;
                @media (max-width:1280px){
                    font-size: 32px;
                }
            }

            h4{
                font-size: 26px;
                color: rgba(255,255,255,.2);
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-weight: 600;
                text-transform: uppercase;     
                letter-spacing: 2px;
                @media (max-width:1280px){
                    font-size: 22px;
                }                        
            }
        }

        .theme_portfolio_slider{
            width: 100%;
            padding-bottom: 6%;
            @media (max-width:600px){
                padding-bottom: 20%;
            }
            @media (max-width:480px){
                padding-bottom: 28%;
            }

            .slick-slide{
                opacity: 0.4;

                &.slick-current{
                    opacity: 1;
                }
            }

            .slick-current + .slick-slide,
            .slick-slide:has(+ .slick-current){
                opacity: 0.7;
            }

            .theme_portfolio_item{
                padding: 0 10px;

                .theme_portfolio_image{
                    width: 100%;
                    height: 0;
                    padding-bottom: 130%;
                    overflow: hidden;
                }

                .theme_portfolio_text{
                    background-color: #c9a063;
                    padding: 20px 20px 40px;
                    position: relative;
                    z-index: 2;

                    .theme_portfolio_text_info{
                        font-size: 32px;
                        line-height: 1.2;
                        color: #00404b;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        @media (max-width:800px){
                            font-size: 26px;
                        }

                        span{
                            display: block;
                            font-size: 42px;
                            color: #fff;
                            letter-spacing: 1px;
                            font-family: 'Noto Serif Display', serif;
                            @media (max-width:1280px){
                                font-size: 38px;
                            }            
                        }
                    }

                    .theme_portfolio_text_location{
                        display: block;
                        font-size: 16px;
                        height: 32px;
                        color: #00404b;
                        letter-spacing: 0.5px;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .theme_project{
        background: url(../img/project_bg.jpg) center top no-repeat;
        background-size: cover;
        padding: 6% 0;
        overflow: hidden;
        background-attachment: fixed;
        @media (max-width:1280px){
            // padding: 14% 0 10%;
        }
        @media (max-width:960px){
            // padding: 8% 0 10%;
        }

        .theme_project_title{
            text-align: left;
            max-width: 1320px;
            margin: 0 auto -80px;
            position: relative;
            height: 80px;
            @media (max-width:1480px){
                width: 95%;
            }
            @media (max-width:960px){
                height: auto;
                text-align: center;
                margin: 0 auto 8%;
            }

            h3{
                font-size: 36px;
                color: #00404b;
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-weight: 600;
                letter-spacing: 2px;
                position: absolute;
                top: 28px;
                @media (max-width:1280px){
                    font-size: 32px;
                }
                @media (max-width:960px){
                    position: static;
                    top: auto;
                }
            }

            h4{
                font-size: 26px;
                color: rgba(0,64,75,.2);
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-weight: 600;
                text-transform: uppercase; 
                letter-spacing: 2px;    
                position: absolute;
                top: 0;
                @media (max-width:1280px){
                    font-size: 22px;
                }            
                @media (max-width:960px){
                    position: static;
                    top: auto;
                }            
            }
        }

        .theme_project_slider{
            max-width: 1320px;
            margin: 0 auto;
            background: url(../img/project_item_bg.jpg) right top no-repeat;
            background-size: contain;
            // padding: 10% 0 14%;
            overflow: hidden;
            @media (max-width:1480px){
                width: 95%;
            }
            @media (max-width:960px){
                background-position: right bottom;
                // background-size: auto 70%;
            }
            @media (max-width:800px){
                background-size: auto 80%;
            }
            @media (max-width:600px){
                padding: 10% 0 16%;
            }
            @media (max-width:480px){
                padding: 10% 0 24%;
            }

            .slick-list{
                margin: 10% 0;
                @media (max-width:960px){
                    margin: 0 0 10% 0;
                }
                @media (max-width:600px){
                    margin: 0;
                }
            }

            .theme_project_item{
                overflow: hidden;
                
                @media (max-width:960px){
                    text-align: center;
                }

                .theme_project_image{
                    width: calc(950 / 1440 * 100%);
                    // float: left;
                    display: inline-block;
                    vertical-align: middle;
                    @media (max-width:1480px){
                        width: calc(55% - 4px);
                    }
                
                    @media (max-width:960px){
                        width: 90%;
                        display: inline-block;
                    }
                }

                .theme_project_info{
                    width: calc(480 / 1440 * 100%);
                    // float: right;
                    padding: 0 60px;
                    display: inline-block;
                    vertical-align: middle;
                    @media (max-width:1480px){
                        width: calc(45% - 4px);
                    }
                    @media (max-width:1280px){
                        padding: 0 20px 0 30px;
                    }
                    @media (max-width:960px){
                        width: 95%;
                        padding: 5% 5% 0;
                    }

                    .theme_project_info_title{
                        font-size: 36px;
                        font-weight: 600;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        color: #c9a063;
                        @media (max-width:1280px){
                            font-size: 32px;
                        }
                        @media (max-width:800px){
                            font-size: 26px;
                        }      
                    }

                    .theme_project_info_subtitle{
                        font-size: 26px;
                        font-weight: 600;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        color: #c9a063;
                        position: relative;
                        padding: 0 0 20px;
                        @media (max-width:1280px){
                            font-size: 22px;
                        }
                        @media (max-width:800px){
                            font-size: 18px;
                        }   

                        &:after{
                            content: "";
                            display: block;
                            width: 30px;
                            height: 1px;
                            background-color: #c9a063;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            @media (max-width:960px){
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }

                    .theme_project_info_text{
                        color: #fff;
                        font-size: 18px;
                        text-align: justify;
                        margin: 30px 0 100px;
                        letter-spacing: 2px;
                        @media (max-width:1280px){
                            margin: 30px 0 50px;
                            font-size: 16px;
                        }
                        @media (max-width:600px){
                            margin: 30px 0 40px;
                        }
                    }

                    .theme_project_info_link{
                        display: inline-block;
                        background-color: #c9a063;
                        border-radius: 15px;
                        @media (max-width:960px){
                            margin-bottom: 20px;
                        }
                        a{
                            font-size: 20px;
                            line-height: 1.2;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            text-transform: uppercase;
                            color: #fff;
                            padding: 0px 20px;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             
                        }
                    }
                }
            }
        }
    }

    .theme_news{
        background: url(../img/news_bg.jpg) center top no-repeat;
        background-size: cover;
        padding: 5% 0 3%;
        overflow: hidden;

        .theme_news_title{
            text-align: center;
            margin-bottom: 3%;

            h3{
                font-size: 36px;
                color: #00404b;
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-weight: 600;
                letter-spacing: 2px;
                @media (max-width:1280px){
                    font-size: 32px;
                }
            }

            h4{
                font-size: 26px;
                color: rgba(0,64,75,.2);
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-weight: 600;
                text-transform: uppercase;  
                letter-spacing: 2px;
                @media (max-width:1280px){
                    font-size: 22px;
                }                           
            }
        }

        .theme_news_slider{
            width: 100%;
            padding-bottom: 6%;
            @media (max-width:600px){
                padding-bottom: 20%;
            }
            @media (max-width:480px){
                padding-bottom: 28%;
            }

            .slick-list{
                padding-left: 240px;
                @media (max-width:1440px){
                    padding-left: 10%;
                }
                @media (max-width:1440px){
                    padding-left: 1.5%;
                }
            }

            .theme_news_item{
                padding: 0 12px;
                @media (max-width:800px){
                    padding: 0 12px;
                }

                .theme_news_image{}

                .theme_news_info{
                    border-left: 7px solid #c9a063;
                    padding: 30px 0 10px 10px;
                    margin: -15px 0 0 15px;
                    position: relative;
                    z-index: 5;


                    .theme_news_info_title{
                        font-size: 32px;
                        color: #00404b;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        letter-spacing: 1px;
                        @media (max-width:800px){
                            font-size: 24px;
                        }   
                    }

                    .theme_news_info_subtitle{
                        font-size: 22px;
                        color: #00404b;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        letter-spacing: 1px;
                        @media (max-width:800px){
                            font-size: 18px;
                        }   
                    }

                    .theme_news_info_text{
                        font-size: 18px;
                        color: #00404b;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        letter-spacing: 1px;
                        @media (max-width:1280px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        
        #news_more{
            display: inline-block;
            background-color: #c9a063;
            border-radius: 15px;
            margin-left: 8px;
            vertical-align: -webkit-baseline-middle;
            a{
                font-size: 16px;
                line-height: 1.2;
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                text-transform: uppercase;
                color: #fff;
                padding: 2px 10px;
                @media (max-width:1280px){
                    font-size: 16px;
                }             
            }
        }
    }

    .theme_consultation{
        background-image: url(../img/consultation_bg1.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5% 0;
        // background-attachment: fixed;
        @media (max-width:1280px){
            padding: 8% 0 6%;
        }

        .theme_consultation_inner{
            max-width: 1320px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            @media (max-width:1480px){
                width: 95%;
            }

            .theme_consultation_title{
                width: calc(680 / 1440 * 100%);
                text-align: left;
                position: absolute;
                left: 50px;
                top: 0;
                @media (max-width:1480px){
                    left: 0;
                }
                @media (max-width:960px){
                    width: 100%;
                    position: static;
                    text-align: center;
                }
    
                h3{
                    font-size: 36px;
                    color: #00404b;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    font-weight: 600;
                    letter-spacing: 2px;
                    display: inline-block;
                    @media (max-width:1280px){
                        font-size: 32px;
                    }
                    @media (max-width:960px){
                        display: block;
                    }
                }
    
                h4{
                    font-size: 26px;
                    color: rgba(0,64,75,.2);
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    font-weight: 600;
                    text-transform: uppercase;  
                    display: inline-block;
                    letter-spacing: 2px;
                    @media (max-width:1280px){
                        font-size: 22px;
                    }
                }
                p{
                    font-size: 20px;
                    line-height: 1.6;
                    color: #00404b;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    font-weight: 600;
                    letter-spacing: 2px;
                    margin-top: 5px;
                    @media (max-width:1280px){
                        font-size: 16px;
                    }
                    @media (max-width:960px){
                        margin: 10px 0 20px;
                    }  

                    &.pc{ display: block;}
                    &.mob{ display: none;}
                    @media (max-width:600px){
                        &.pc{ display: none;}
                        &.mob{ display: block;}
                    }
                }
            }

            .theme_consultation_link{
                width: calc(640 / 1440 * 100%);
                text-align: center;
                overflow: hidden;
                position: absolute;
                left: 0;
                bottom: 0;
                @media (max-width:1280px){
                    width: calc(670 / 1440 * 100%);
                }
                @media (max-width:960px){
                    width: 100%;
                    position: static;
                    margin-bottom: 20px;
                }
                .theme_consultation_nav{
                    .slick-slide{
                        width: 50% !important;
                        padding: 5px;
                    }
                    
                    .theme_consultation_link_item{
                        background-color: #c9a063;
                        border: 5px solid #c9a063;
                        // margin-bottom: 12px;
                        transition: all .5s;
                        position: relative;
                        padding: 23.5px 0;
                        @media (max-width:1280px){
                            padding: 21.5px 0;
                        }

                        &.bigtext{
                            padding: 10px 0;
                        }

                        &:before, &:after {
                            position: absolute;
                            content: "";
                            right: 0;
                            top: 0;
                            background: #fff;
                            transition: all 0.3s ease;
                        }
                        &:before {
                            height: 0%;
                            width: 2px;
                        }
                        &:after {
                            width: 0%;
                            height: 2px;
                        }

    
                        span{
                            width: 100%;
                            height: 100%;
                            color: #fff;
                            font-size: 20px;
                            line-height: 1.4;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            display: block;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }

                            &:before, &:after {
                                position: absolute;
                                content: "";
                                left: 0;
                                bottom: 0;
                                background: #fff;
                                transition: all 0.3s ease;
                            }
                            &:before {
                                width: 2px;
                                height: 0%;
                            }
                            &:after {
                                width: 0%;
                                height: 2px;
                            }
                        }

                        &:hover{
                            cursor: pointer;
                            &:before {
                                height: 100%;
                            }
                            &:after {
                                width: 100%;
                            }
                            span{
                                &:before {
                                    height: 100%;
                                }
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
    
                    }

                    .slick-current{
                        .theme_consultation_link_item{
                            &:before {
                                height: 100%;
                                width: 2px;
                            }
                            &:after {
                                width: 100%;
                                height: 2px;
                            }
                            span{
                                &:before {
                                    width: 2px;
                                    height: 100%;
                                }
                                &:after {
                                    width: 100%;
                                    height: 2px;
                                }
                            }    

                        }
                    }

                }
            }
            .form-border-top,
            .form-border-bottom{
                width: calc(760 / 1440 * 100%);
                float: right;
                @media (max-width:1280px){
                    width: 51%;
                }
                @media (max-width:960px){
                    width: 100%;
                }
            }
            .theme_consultation_form{
                width: calc(760 / 1440 * 100%);
                float: right;
                background: url(../img/theme_consultation_form_bg_02.png) center top repeat-y;
                background-size: 100% auto;
                padding: 20px 40px 40px;
                overflow: hidden;
                @media (max-width:1280px){
                    width: 51%;
                }
                @media (max-width:960px){
                    width: 100%;
                    background-size: 100% auto;
                }
                
                .item{
                    width: 100%;
                    // border-bottom: 1px solid #c9a063;
                    margin-top: 16px;
                    position: relative;
                    overflow: hidden;
                    float: left;

                    &.half{
                        width: 45%;
                        @media (max-width:960px){
                            width: 100%;
                        }

                        &:nth-child(odd){
                            margin-right: 10%;
                            @media (max-width:960px){
                                margin-right: 0%;
                            }
                        }
                    }

                    // &:after{
                    //     content: "";
                    //     width: calc(100% - 18px);
                    //     height: 1px;
                    //     position: absolute;
                    //     right: 0;
                    //     bottom: 0;
                    //     background: #c9a063;
                    // }

                    &.noline{
                        border: 0;
                    }

                    p{
                        font-size: 15px;
                        text-align: center;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        letter-spacing: 1px;

                        a{
                            display: inline-block;
                            text-decoration: underline;
                            margin: 0 5px;
                            color: #c9a063;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        }
                    }

                    label{
                        font-size: 14px;
                        line-height: 1.2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        color: #c9a063;
                        letter-spacing: 1px;
                        display: block;

                        span{
                            width: 94px;
                            font-size: 18px;
                            color: #000;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            margin: 0 10px;
                            display: inline-block;
                            text-align: justify;
                            text-justify: distribute-all-lines;
                            text-align-last: justify;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             
                            @media (max-width:600px){
                                width: 80px;
                            }   

                            &.nowidth{
                                width: 300px;
                                @media (max-width:1020px) and (min-width:960px){
                                    width: 280px;
                                }
                                @media (max-width:540px){
                                    width: auto;
                                }
                            }      
                        }
                    }

                    input[type="text"]{
                        width: calc(100% - 18px);
                        font-size: 20px;
                        line-height: 2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        background: transparent;
                        padding: 0;
                        color: #9f8268;
                        margin-left: 18px;
                        border-bottom: 1px solid #c9a063;

                        &:focus{
                            outline: 0;
                        }
                    }

                    select{
                        width: calc(100% - 18px);
                        height: 40px;
                        padding: 0;
                        border: 0;
                        background: transparent;
                        outline: 0;
                        font-size: 20px;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        color: #9f8268;
                        margin-left: 18px;
                        border-bottom: 1px solid #c9a063;
                        @media (max-width:1280px){
                            font-size: 16px;
                        }             
                        
                        option{
                            font-size: 20px;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             

                        }
                    }

                    textarea{
                        width: calc(100% - 18px);
                        background-color: transparent;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        padding: 0;
                        border: 0;
                        font-size: 20px;
                        height: 76px;
                        resize: none;
                        color: #9f8268;
                        margin-left: 18px;
                        border-bottom: 1px solid #c9a063;
                        @media (max-width:1280px){
                            font-size: 16px;
                        }             

                        &:checked, 
                        &:focus{
                            outline: 0;
                        }
                    }

                    button{
                        width: 48%;
                        margin: 0 auto;
                        background-color: #c9a063;
                        display: block;
                        position: relative;
                        border: 5px solid #c9a063;
                        transition: all .5s;
                        @media (max-width:800px){
                            width: 324px;
                        }
                        @media (max-width:426px){
                            width: 100%;
                        }

                        &:before, &:after {
                            position: absolute;
                            content: "";
                            right: 0;
                            top: 0;
                            background: #fff;
                            transition: all 0.3s ease;
                        }
                        &:before {
                            height: 0%;
                            width: 2px;
                        }
                        &:after {
                            width: 0%;
                            height: 2px;
                        }

                        span{
                            display: block;
                            // position: relative;
                            width: 100%;
                            height: 100%;
                            color: #fff;
                            font-size: 16px;
                            line-height: 2;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;

                            &:before, &:after {
                                position: absolute;
                                content: "";
                                left: 0;
                                bottom: 0;
                                background: #fff;
                                transition: all 0.3s ease;
                            }
                            &:before {
                                width: 2px;
                                height: 0%;
                            }
                            &:after {
                                width: 0%;
                                height: 2px;
                            }
                        }

                        &:hover{
                            cursor: pointer;
                            // background: rgba(255,255,255,.3);
                            box-shadow: none;
                            &:before {
                                height: 100%;
                            }
                            &:after {
                                width: 100%;
                            }
                            span{
                                // color: #c9a063;
                                &:before {
                                    height: 100%;
                                }
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .code{
                        position: absolute;
                        width: 20%;
                        right: 0;
                        bottom: 5px;
                    }
                }
            }
        }
    }
}

.slider3.slick-slider{
    button{
        &.slick-prev{
            left: 50%;
            margin-left: -770px;
            @media (max-width:1480px){
                left: -10px;
                margin-left: 0;
            }
        }
        &.slick-next{
            right: 50%;
            margin-right: -770px;
            @media (max-width:1480px){
                right: -10px;
                margin-right: 0;
            }
        }
    }
}

.theme_project_slider.slick-slider{

    &.slick-dotted.slick-slider{
    
        .slick-dots{
            bottom: 6%;
        }
    }

    button{
        &.prev, &.next{
            bottom: 6%;
        }
    }
}