@import '_setting';
@import '_header';
@import '_footer';



.theme{
    .theme_news{
        padding: 5% 0 0;

        .theme_news_inner{
            max-width: 1440px;
            margin: 0 auto;
            overflow: hidden;
            @media (max-width:1480px){
                width: 95%;
            }

            .theme_news_title{
                width: 260px;
                float: left;
                text-align: left;
                @media (max-width:1480px){
                    width: 180px;
                }
                @media (max-width:960px){
                    width: 100%;
                    margin-bottom: 20px;
                }
    
                h3{
                    @media (max-width:960px){
                        text-align: center;
                    }
                }
    
                h4{
                    @media (max-width:960px){
                        text-align: center;
                    }                  
                }
            }

            .theme_news_tab{
                width: 260px;
                float: left;
                @media (max-width:1480px){
                    width: 180px;
                }
                @media (max-width:960px){
                    width: 100%;
                }
                
                ul{
                    margin-top: 112px;
                    @media (max-width:960px){
                        margin-top: 40px;
                        text-align: center;
                    }

                    li{
                        margin: 16px 0;
                        transition: all .3s;
                        @media (max-width:960px){
                            display: inline-block;
                            margin: 0 10px 16px;
                        }

                        a{
                            width: auto;
                            display: inline-block;
                            color: #c9a063;
                            background: transparent;
                            font-size: 20px;
                            line-height: 1.2;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            font-weight: 600;
                            padding: 3px 20px;
                            border-radius: 20px;
                            @media (max-width:600px){
                                font-size: 16px;
                                padding: 3px 12px;
                            }
                        }

                        &.focus{
                            a{
                                background-color: #c9a063;
                                color: #fff;
                            }
                        }

                    }
                }
            }

            .theme_news_slider{
                width: calc(100% - 260px);
                float: right;
                padding-bottom: 4%;
                overflow: hidden;
                @media (max-width:1480px){
                    width: calc(100% - 180px);
                }
                @media (max-width:960px){
                    width: 100%;
                }
    
                .theme_news_item{
                    width: calc(100% / 3);
                    float: left;
                    margin-bottom: 60px;
                    @media (max-width:800px){
                        width: calc(100% / 2);
                    }
                    @media (max-width:480px){
                        width: calc(100% / 1);
                        padding: 0 12px;
                    }
    
                    .theme_news_image{}
    
                    .theme_news_info{}
                }
            }
        }

        .theme_news_page{
            width: 90%;
            margin: -2% auto 5%;
            background-color: #021f23;
            padding: 3% 6% 0;
            position: relative;
            @media (max-width:960px){
                padding: 6% 6% 0;
            }

            .theme_news_page_slider{
                padding: 0 0 16%;
                position: relative;
                @media (max-width:800px){
                    padding: 0 0 22%;
                }
                @media (max-width:600px){
                    padding: 0 0 30%;
                }
                @media (max-width:480px){
                    padding: 0 0 40%;
                }

                &:after{
                    content: "";
                    width: 1px;
                    height: 22px;
                    margin: 6px 0;
                    position: absolute;
                    bottom: 8%;
                    left: 50%;
                    background: #c9a063;
                    @media (max-width:1080px){
                        bottom: 7%;
                    }
                    @media (max-width:960px){
                        bottom: 4%;
                    }
                }

                .theme_news_page_topic{
                    
                    .theme_news_page_topic_date{
                        font-size: 38px;
                        color: #c9a063;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        display: inline-block;
                        border-right: 7px solid #c9a063;
                        padding-right: 30px;
                        margin-right: 30px;
                        line-height: 1;
                        letter-spacing: 2px;
                        @media (max-width:960px) and (min-width:641px){
                            border-right: none;
                            border-bottom: 7px solid #c9a063;
                            padding-right: 0px;
                            margin-right: 0px;
                            padding-bottom: 30px;
                            margin-bottom: 30px;
                        }
                        @media (max-width:640px){
                            margin-top: 120px;
                        }
                        @media (max-width:480px){
                            border-right: none;
                            border-bottom: 7px solid #c9a063;
                            padding-right: 0px;
                            margin-right: 0px;
                            padding-bottom: 30px;
                            margin-bottom: 30px;
                        }

                        span{
                            font-size: 30px;
                            color: #c9a063;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            display: block;
                        }
                    }

                    .theme_news_page_topic_title{
                        display: inline-block;
                        line-height: 1;
                        @media (max-width:960px) and (min-width:641px){
                            display: block;
                        }
                        @media (max-width:960px) and (max-width:480px){
                            display: block;
                        }

                        h3{
                            font-size: 36px;
                            color: #fff;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            font-weight: 600;
                            letter-spacing: 2px;
                        }

                        h4{
                            font-size: 18px;
                            color: #fff;
                            margin-top: 10px;
                            line-height: 1;
                            letter-spacing: 1px;

                            span{
                                color: #fff;
                                line-height: 1;
                            }
                        }
                    }
                }

                .theme_news_page_content{
                    font-size: 18px;
                    line-height: 2;
                    letter-spacing: 2px;
                    color: #fff;
                    margin: 36px 0 54px;
                }

                .theme_news_page_photo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .theme_news_page_photo_item{
                        display: inline-block;
                        padding: 0 5px;
                        margin-bottom: 12px;
                        margin-right: -4px;

                        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
                            
                            img{
                                width: auto;
                                height: 249px;
                            }
                        }

                        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8){

                            img{
                                width: auto;
                                height: 270px;
                            }
                        }
                    }

                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            .btn_back{
                width: 99px;
                position: absolute;
                z-index: 3;
                top: 0;
                right: 0;
                left: unset;
                bottom: unset;
                text-align: center;
                background: #021f23;
                @media (max-width:640px){
                    top: -1%;
                    right: -6%;
                }
                @media (max-width:360px){
                    width: 79px;
                    top: 1%;
                }

                &:before{
                    content: "";
                    width: 1px;
                    height: 20px;
                    background: #c9a063;
                    position: absolute;
                    z-index: 4;
                    bottom: 8px;
                    right: 98px;
                    display: table;
                    @media (max-width:360px){
                        right: 79px;
                    }
                }

                &:after{
                    content: "";
                    width: 1px;
                    height: 20px;
                    background: #c9a063;
                    position: absolute;
                    z-index: 4;
                    bottom: 8px;
                    right: 199px;
                    display: table;
                    @media (max-width:360px){
                        right: 159px;
                    }
                }
        
                a{
                    line-height: 1.4;
                    color: #c9a063;
                    font-size: 12px;
                    line-height: 1.4;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    font-weight: 600;
                    letter-spacing: 1px;
                    vertical-align: middle;
                    // padding: 10px 0 10px;
        
                    img{
                        width: 24px;
                        display: block;
                        margin: 0 auto 8px;
                    }
                }
            }
        }
    }
}

button{

    &.prev-news{
        left: 50%;
        transform: translateX(-100px);
    }

    &.next-news{
        right: 50%;
        transform: translateX(100px);
    }
    &.prev-news, &.next-news{
        position: absolute;
        z-index: 5;
        bottom: 8%;
        display: block;
        padding: 0;
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        @media (max-width:1080px){
            bottom: 7%;
        }
        @media (max-width:960px){
            bottom: 4%;
        }
    
        a{
            display: inline-block;
            position: relative;
            // height: 50px;
            width: 80px;
            color: #c9a063;
            font-size: 12px;
            line-height: 1.2;
            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
            font-weight: 600;
            letter-spacing: 1px;
            vertical-align: middle;
    
            span{
                color: #c9a063;
                vertical-align: middle;
                font-size: 36px;
                margin-top: -4px;
            }
            
        }
    
        &.slick-disabled{
            a{
                opacity: 0.3;
            }
        }
    }

    &.prev-news + &.prev-news{
        width: 99px;
        top: 0;
        right: 200px;
        left: unset;
        bottom: unset;
        transform: translateX(0);
        text-align: center;
        background: #021f23;
        @media (max-width:640px){
            top: -1%;
            right: calc(200px - 6%);
        }
        @media (max-width:360px){
            width: 79px;
            top: 1%;
            right: 146px;
        }

        a{
            line-height: 1.4;

            span{
                display: block;
            }
        }
        
    }

    &.next-news + &.next-news{
        width: 99px;
        top: 0;
        right: 100px;
        left: unset;
        bottom: unset;
        transform: translateX(0);
        text-align: center;
        background: #021f23;
        @media (max-width:640px){
            top: -1%;
            right: calc(100px - 6%);
        }
        @media (max-width:360px){
            width: 79px;
            top: 1%;
            right: 64px;
        }

        a{
            line-height: 1.4;

            span{
                display: block;
            }
        }
        
    }
}

.popup_photo{
    .popup_content{
        background-color: transparent;
        width: 100%;
        &.popup_img{
            width: 1280px;
            height: 880px;
        
            @media (max-width:1440px){
                width: 84%;
                height: 0;
                padding-bottom: 55%;
            }
        }
        
        .photo{
            width: 90%;
            margin: 0 auto;

            img{}

            span{
                color: #fff;
                font-size: 18px;
                margin-top: 30px;
                display: block;
                text-align: center;
                letter-spacing: 2px;
            }
        }

    }
    .icon{
        position: absolute;
        top: 20px;

        &.close{
            right: 5%;
        }

        &.allphoto{
            right: calc(5% + 50px);
        }

        &.play{
            right: calc(5% + 100px);
        }

        span{
            color: #fff;
            font-size: 30px;
        }

        &:hover{
            cursor: pointer;
        }
    }
    .arrow{

        button{

            &.prev{
                left: 5%;
                transform: scaleX(-1) translateY(-50%);
            }
    
            &.next{
                right: 5%;
                transform: translateY(-50%);
            }
            &.prev, &.next{
                position: absolute;
                z-index: 5;
                top: 50%;
                display: block;
                padding: 0;
                cursor: pointer;
                color: transparent;
                border: none;
                outline: none;
                background: transparent;
                @media (max-width:1080px){
                    bottom: 7%;
                }
                @media (max-width:960px){
                    bottom: 4%;
                }
            
                a {
                    display: inline-block;
                    position: relative;
                    height: 50px;
                    width: 50px;
                    box-shadow: inset 0 0 0 2px rgba(160,130,100,.2);
                    border-radius: 50%;
                    background: rgba(255,255,255,.2);
                    @media (max-width:600px){
                        height: 36px;
                        width: 36px;
                    }
                    
                    &:hover {
                        
                        .arrow {
                            animation: bounce .8s forwards;
                            
                            @keyframes bounce {
                                55% {
                                    transform: translate3d(-40%,-50%,0);
                                }
                                70% {
                                    transform: translate3d(15%,-50%,0);
                                }
                                80% {
                                    transform: translate3d(-10%,-50%,0);
                                }				
                                85% {
                                    transform: translate3d(5%,-50%,0);
                                }
                            }
                        }
                        
                        .line:nth-of-type(1):before {
                            transform: rotate(135deg);
                        }
                        
                        .line:nth-of-type(2):before {
                            transform: rotate(-135deg);
                        }
                    }
                    
                    .line {
                        position: absolute;
                        height: 50%;
                        left: 0;
                        right: 0;
                        overflow: hidden;
                        
                        &:before {
                            content: '';
                            box-sizing: border-box;
                            position: absolute;
                            left: 0;
                            right: 0;
                            height: 200%;
                            border: 2px solid transparent;
                            border-radius: 50%;
                            border-left-color: #c9a063;
                            transition: 1s cubic-bezier(.5,.07,.25,1);
                        }
                        
                        &:nth-of-type(1) {
                            top: 0;
                            
                            &:before {
                                top: 0;
                                border-bottom-color: #c9a063;
                                transform: rotate(-5deg);
                            }
                        }
                        
                        &:nth-of-type(2) {
                            bottom: 0;
                            
                            &:before {
                                bottom: 0;
                                border-top-color: #c9a063;
                                transform: rotate(5deg);
                            }
                        }
                    }
                    
                    .arrow {
                        position: absolute;
                        top: 50%;
                        height: 2px;
                        background: #c9a063;
                        left: 30%;
                        right: 30%;
                        transform: translateY(-50%);
                        
                        &:before {
                            content: '';
                            position: absolute;
                            right: -2px;
                            width: 65%;
                            top: 2px;
                            padding-bottom: 65%;
                            border-top: 2px solid #c9a063;
                            border-right: 2px solid #c9a063;
                            transform-origin: top right;
                            transform: rotate(45deg);
                        }
                    }
                }
        
                &.slick-disabled{
                    a{
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}